==
<thead>
                    <tr class="row-1" role="row">
                        <th class="column-1">&nbsp;</th>
                        <th class="column-2"></th>
                        <th class="column-3">
                            <div class="dotted">{{ 'Текстиль' |_}}
                            <div class="tab-mes">{{ 'указаны минимальные цены в грн конечная
                                цена зависит от категории и деликатности материала' |_}}</div>
                                </div>
                            
                        </th>
                        <th class="column-4">
                            <div class="dotted">{{ 'Шелк' |_}}
                            <div class="tab-mes">{{ 'указаны минимальные цены в грн конечная
                                цена зависит от категории и деликатности материала' |_}}</div>
                                </div>
                            
                        </th>
                        <th class="column-5">
                            <div class="dotted">{{ 'Кожа/Мех' |_}}
                            <div class="tab-mes">{{ 'указаны минимальные цены в грн конечная
                                цена зависит от категории и деликатности материала' |_}}</div>
                                </div>
                            
                        </th>
                    </tr>
                    </thead>